# CP 322 - Final Project

Aditya Chauhan (169027493)

## Introduction

### Dataset Choice

- [Student Performance Dataset](https://archive.ics.uci.edu/dataset/320/student+performance)

### Key Research Questions:

- Can external factors such as familial support, alcohol consumption, absences, and many others, predict student's academic success?
- If they can, which model can most accurately use the factors to make the prediction?

### Imports

In [92]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, LabelEncoder
from sklearn.feature_selection import mutual_info_classif
import seaborn as sns
from scipy.stats import zscore

student_mat = pd.read_csv("Data/student-mat.csv", sep=";")
student_por = pd.read_csv("Data/student-por.csv", sep=";")

## Data Exploration

### Objective & Use Case

Student success is a cornerstone of educational systems, and identifying the drivers of academic performance is critical for improving outcomes. This project utilizes the Student Performance Dataset to develop a predictive model that analyzes the factors affecting final grades (G3). By addressing key questions—like the importance of early grades (G1, G2), the role of family support, and the impact of behavioral factors—this model provides practical tools for educators and administrators to allocate resources effectively and support at-risk students.

### Dataset Overview

In [93]:
# Identify common columns in both datasets
common_columns = set(student_mat.columns).intersection(set(student_por.columns))

# Merge the datasets on the common columns to identify overlapping students
merged_students = pd.merge(student_mat, student_por, on=list(common_columns), how='inner')

# Print the results
print(f"Number of students in student-mat dataset: {len(student_mat)}")
print(f"Number of students in student-por dataset: {len(student_por)}")
print(f"Number of students present in both datasets: {len(merged_students)}")

Number of students in student-mat dataset: 395
Number of students in student-por dataset: 649
Number of students present in both datasets: 0

### Tabular Summary

In [94]:
def generate_tabular_summary(df):
    """
    Generate a tabular summary for the dataset with key statistics.
    
    Parameters:
    - df: pandas DataFrame, the dataset to summarize.
    
    Returns:
    - summary: pandas DataFrame with feature-wise statistics.
    """
    summary = pd.DataFrame({
        "Column Name": df.columns,
        "Data Type": df.dtypes.values,
        "Number of Unique Values": df.nunique().values,
        "Number of Missing Values": df.isnull().sum().values,
        "Percentage of Missing Values (%)": (df.isnull().sum() / len(df) * 100).values,
        "Mean": [df[col].mean() if df[col].dtype in ['int64', 'float64'] else None for col in df.columns],
        "Median": [df[col].median() if df[col].dtype in ['int64', 'float64'] else None for col in df.columns],
        "Standard Deviation": [df[col].std() if df[col].dtype in ['int64', 'float64'] else None for col in df.columns],
        "Minimum": [df[col].min() if df[col].dtype in ['int64', 'float64'] else None for col in df.columns],
        "Maximum": [df[col].max() if df[col].dtype in ['int64', 'float64'] else None for col in df.columns],
        "Top Value (Mode)": [df[col].mode()[0] if not df[col].mode().empty else None for col in df.columns],
        "Frequency of Top Value": [df[col].value_counts().iloc[0] if not df[col].value_counts().empty else None for col in df.columns]
    })
    return summary

# Generate the tabular summary
tabular_summary = generate_tabular_summary(merged_data)

# Save the summary to a CSV file
tabular_summary.to_csv("tabular_summary.csv", index=False)
print("Tabular summary saved to 'tabular_summary.csv'.")

# Display the summary
tabular_summary

Tabular summary saved to 'tabular_summary.csv'.

,Column Name,Data Type,Number of Unique Values,Number of Missing Values,Percentage of Missing Values (%),Mean,Median,Standard Deviation,Minimum,Maximum,Top Value (Mode),Frequency of Top Value
0,school,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,GP,342
1,sex,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,F,198
2,age,int64,7,0,0.0,16.586387,17.0,1.173470,15.0,22.0,16,107
3,address,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,U,301
4,famsize,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,GT3,278
5,Pstatus,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,T,344
6,Medu,int64,5,0,0.0,2.806283,3.0,1.086381,0.0,4.0,4,135
7,Fedu,int64,5,0,0.0,2.565445,3.0,1.096240,0.0,4.0,2,105
8,Mjob,object,5,0,0.0,NaN,NaN,NaN,NaN,NaN,other,138
9,Fjob,object,5,0,0.0,NaN,NaN,NaN,NaN,NaN,other,211
10,reason,object,4,0,0.0,NaN,NaN,NaN,NaN,NaN,course,140
11,guardian_mat,object,3,0,0.0,NaN,NaN,NaN,NaN,NaN,mother,275
12,traveltime_mat,int64,4,0,0.0,1.442408,1.0,0.695378,1.0,4.0,1,250
13,studytime_mat,int64,4,0,0.0,2.034031,2.0,0.845798,1.0,4.0,2,190
14,failures_mat,int64,4,0,0.0,0.290576,0.0,0.729481,0.0,3.0,0,316
15,schoolsup_mat,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,no,331
16,famsup_mat,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,yes,238
17,paid_mat,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,no,205
18,activities_mat,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,yes,201
19,nursery,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,yes,310
20,higher_mat,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,yes,364
21,internet,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,yes,324
22,romantic_mat,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,no,261
23,famrel_mat,int64,5,0,0.0,3.939791,4.0,0.921620,1.0,5.0,4,183
24,freetime_mat,int64,5,0,0.0,3.222513,3.0,0.988233,1.0,5.0,3,156
25,goout_mat,int64,5,0,0.0,3.112565,3.0,1.131927,1.0,5.0,3,123
26,Dalc_mat,int64,5,0,0.0,1.473822,1.0,0.886229,1.0,5.0,1,268
27,Walc_mat,int64,5,0,0.0,2.280105,2.0,1.282866,1.0,5.0,1,146
28,health_mat,int64,5,0,0.0,3.578534,4.0,1.400360,1.0,5.0,5,146
29,absences_mat,int64,32,0,0.0,5.319372,3.0,7.625251,0.0,75.0,0,116
30,G1_mat,int64,17,0,0.0,10.861257,10.5,3.349167,3.0,19.0,10,51
31,G2_mat,int64,16,0,0.0,10.712042,11.0,3.832560,0.0,19.0,9,48
32,G3_mat,int64,18,0,0.0,10.387435,11.0,4.687242,0.0,20.0,10,56
33,guardian_por,object,3,0,0.0,NaN,NaN,NaN,NaN,NaN,mother,275
34,traveltime_por,int64,4,0,0.0,1.445026,1.0,0.699354,1.0,4.0,1,250
35,studytime_por,int64,4,0,0.0,2.039267,2.0,0.845571,1.0,4.0,2,190
36,failures_por,int64,4,0,0.0,0.141361,0.0,0.513253,0.0,3.0,0,348
37,schoolsup_por,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,no,332
38,famsup_por,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,yes,239
39,paid_por,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,no,356
40,activities_por,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,yes,200
41,higher_por,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,yes,364
42,romantic_por,object,2,0,0.0,NaN,NaN,NaN,NaN,NaN,no,259
43,famrel_por,int64,5,0,0.0,3.942408,4.0,0.908884,1.0,5.0,4,184
44,freetime_por,int64,5,0,0.0,3.230366,3.0,0.985096,1.0,5.0,3,157
45,goout_por,int64,5,0,0.0,3.117801,3.0,1.133710,1.0,5.0,3,124
46,Dalc_por,int64,5,0,0.0,1.476440,1.0,0.886303,1.0,5.0,1,267
47,Walc_por,int64,5,0,0.0,2.290576,2.0,1.282577,1.0,5.0,1,144
48,health_por,int64,5,0,0.0,3.575916,4.0,1.404248,1.0,5.0,5,147
49,absences_por,int64,19,0,0.0,3.672775,2.0,4.905965,0.0,32.0,0,150
50,G1_por,int64,15,0,0.0,12.112565,12.0,2.556531,0.0,19.0,12,58
51,G2_por,int64,14,0,0.0,12.238220,12.0,2.468341,5.0,19.0,12,66
52,G3_por,int64,17,0,0.0,12.515707,13.0,2.945438,0.0,19.0,13,63